<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<head th:replace="layout/layout :: head">
</head>
</head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<h4 class="card-title">
					<a th:href="@{/formProceso}" class="btn btn-success btn-xs">Crear
						Proceso</a>
				</h4>
				<table class="table table-striped table-bordered">
					<thead class="thead-dark">
						<tr>
							
							<th>Radicado</th>
							<th>Demandante</th>
							<th>Demandado</th>
							<th>Fecha reparto</th>
							<!-- <th>Ultima Actuacion</th>  -->
							<!-- <th>Estado Actual</th>  -->
							<!-- <th>Estado</th>  -->
							<!-- <th>Ver<br>Detalle</th> 
							<th>Ver <br> Terminos</th>
							<th>Crear<br>Termino</th>
							<th>Editar</th>
							<th>Eliminar</th> -->
							<th>Det.</th> 
							<th colspan="4"></th>
							<!--  <th></th>
							<th></th>
							<th></th> -->
						</tr>
					</thead>
					<tbody>
						<tr th:each="proceso: ${procesos}">
							
							<td th:text="${proceso.radicado}"></td>
							<td th:text="${proceso.demandante}"></td>
							<td th:text="${proceso.demandado}"></td>
							<td th:text="${proceso.fechaReparto}"></td>
							<td><a th:href="@{'/verDetalleProceso/' + ${proceso.id}}" th:text="${proceso.id}" class="btn btn-primary btn-xs"></a></td>
							<!-- <td th:text="${proceso.ultimaActuacion}"></td>  -->
							<!-- <td th:text="${proceso.estadoActual}"></td>  -->
							<!-- <td th:text="${proceso.estado}"></td>  -->
							<td><a th:href="@{/verTerminos/} + ${proceso.id}"
								class="btn btn-primary btn-xs"><img alt=""
									src="/icons/search.svg" width="20" height="20"></a></td>
							<td><a th:href="@{'/crearDetalleTermino/' + ${proceso.id}}"
								class="btn btn-primary btn-xs"><img alt=""
									src="/icons/bell-fill.svg" width="20" height="20"></a></td>
							<td><a th:href="@{/formProceso/} + ${proceso.id}"
								class="btn btn-primary btn-xs"><img alt=""
									src="/icons/pencil.svg" width="20" height="20"></a></td>
							<td><a th:href="@{/eliminarProceso/} + ${proceso.id}"
								class="btn btn-danger btn-xs" id="botonEliminar"
								onclick="return confirm('¿Eliminar elemento?')"><img alt=""
									src="/icons/x-square-fill.svg" width="20" height="20"></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>